services:
  router:
    build: ./router
    network_mode: host
    cap_add:
      - NET_ADMIN
      - NET_RAW
    restart: unless-stopped

  dnsmasq:
    image: jpillora/dnsmasq
    network_mode: host
    cap_add:
      - NET_ADMIN
    volumes:
      - ./dnsmasq/dnsmasq.conf:/etc/dnsmasq.conf:ro
      - dnsmasq-misc:/var/lib/misc
    depends_on:
      - router
    restart: unless-stopped

  leases:
    build: ./leases
    network_mode: host
    volumes:
      - dnsmasq-misc:/app/data

volumes:
  dnsmasq-misc:
